*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}
.App{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
   padding-left: 20%;
  color: white;
  margin-top: 5%;
  row-gap: 30px;
}
h1{
  line-height: 20px;
  font-size: 50px;
  margin-bottom: 30px;
  font-weight: 200;
}

form input{
  color: white;
  height: 70px;
  row-gap: 40px;
  width: 80%;
  
}
.l1{
  
  margin-bottom: 20px;
  border: none;
  border-color: #000;
  border-bottom: 2px solid white;
  font-size: 30px;
  
}
button{
  padding: 15px 30px;
  background-color: white;
  border-radius: 10px ;
  font-size: 15px;
  cursor: pointer;
  
}
button:hover{
  background-color: blue;
}
.p1 h3{
  margin-bottom: 20px;
  font-size: 30px;
}